@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Oleo+Script&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
/* COLOURS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #000;
  text-decoration: none;
}

#main-page .parallax {
  /* The image used */
  background-image: url("/assets/intro-bg.jpg");
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  border-bottom: 1px solid #E2E8F0;
}
.header ul {
  z-index: 99;
}
.header li {
  list-style: none;
}
.header a {
  text-decoration: none;
}
.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
.header .hamburger {
  display: none;
}
.header .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
.header .nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav-item {
  margin-left: 5rem;
}
.header .nav-link {
  font-size: 22px;
  font-weight: 400;
  color: #000;
}
.header .nav-link:hover {
  color: #ffB72B;
}
.header .nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #000;
}
.header #contact-btn {
  width: 8rem;
  padding: 9px 25px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3;
  background-color: #ffB72B;
}
.header #contact-btn:hover {
  background-color: #BED62F;
  color: #000;
}
@media only screen and (max-width: 768px) {
  .header .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .header .nav-menu.active {
    left: 0;
  }
  .header .nav-item {
    margin: 1rem 0;
  }
  .header .hamburger {
    display: block;
    cursor: pointer;
  }
  .header .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .header .social-item {
    padding-top: 25px;
  }
  .header .nav-link {
    font-size: 22px;
    font-weight: 400;
    color: #000;
  }
  .header .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .header .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .header .nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: black;
  }
  .header #contact-btn {
    width: 8rem;
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3;
    background-color: #ffB72B;
  }
  .header #contact-btn:hover {
    background-color: #BED62F;
    color: black;
  }
  .header #social-btn {
    width: 8rem;
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3;
    background-color: #ffB72B;
  }
  .header #social-btn:hover {
    background-color: #BED62F;
    color: black;
  }
}
@media only screen and (max-width: 768px) and (max-width: 768px) {
  .header .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .header .nav-menu.active {
    left: 0;
  }
  .header .nav-item {
    margin: 1rem 0;
  }
  .header .hamburger {
    display: block;
    cursor: pointer;
  }
  .header .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .header .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .header .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
.header #call-span {
  color: #ffB72B;
}

footer {
  background-color: #ffB72B;
}
@media screen and (min-width: 768px) {
  footer .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  footer .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
footer .footer-element {
  min-width: 33%;
  text-align: center;
  margin-top: 0.5rem;
}
footer .footer-element h4 {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #fff;
}
footer .footer-element a {
  text-decoration: none;
  color: #fff;
}
footer .footer-element a:hover {
  color: #000;
  text-decoration: none;
}
footer .footer-element ul {
  list-style: none;
  padding: 0.5rem;
}
footer .footer-element #map {
  display: inline-block;
}
footer .footer-element .fa {
  padding: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 2.5rem;
}
footer #copyright {
  text-align: center;
  font-size: 0.8rem;
  padding: 1rem;
  color: #fff;
}

@media screen and (min-width: 1440px) {
  footer {
    width: 100%;
  }

  .flex-container {
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
}
.product-page .flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 1rem;
}
.product-page .card {
  max-width: 33%;
  margin: 0.5rem;
  text-align: center;
  padding-bottom: 1rem;
}
.product-page .product-photo {
  position: relative;
}
.product-page .product-photo img {
  width: 300px;
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
}
.product-page .product-photo div {
  position: absolute;
  bottom: -1rem;
  right: 1rem;
  text-align: center;
}
.product-page #btn-cart {
  background-color: #BED62F;
  color: #fff;
  border: none;
  padding: 0.8rem;
  border-radius: 50%;
}
.product-page #btn-cart:hover {
  background-color: #ffB72B;
}
.product-page .product-title p {
  font-weight: bold;
  color: #ffB72B;
  font-size: 1.5rem;
  margin: 1rem;
}
.product-page .product-dsc p {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
.product-page .product-price {
  font-weight: bold;
  margin: 1rem;
}
.product-page .card a {
  font-size: 0.8rem;
}
.product-page .card a:link, .product-page .card .card a:visited {
  color: #ffB72B;
}
.product-page .card a:hover {
  color: #BED62F;
}
@media screen and (min-width: 1500px) {
  .product-page {
    width: 100%;
  }
  .product-page .flex-container {
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 600px) {
  .product-page .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product-page .card {
    max-width: 75%;
  }
}
@media screen and (max-width: 768px) {
  .product-page .product-photo img {
    width: 250px;
  }
}
.product-page .image_off, .product-page #img-change:hover .image_on {
  display: none;
}
.product-page .image_on, .product-page #img-change:hover .image_off {
  display: block;
}/*# sourceMappingURL=style.css.map */